/* form css */
.form-control {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #66615b;
  font-size: 14px;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  box-shadow: none;
  padding: 0.625rem 0.75rem;
  line-height: 1.45 !important;
}
.card-user form .form-group {
  margin-bottom: 15px;
}
.card .card-header {
  padding: 15px 15px 0;
  border: 0;
}
/* 
::ng-deep.mat-mdc-dialog-container {
  --mdc-dialog-container-color: transparent;
  --mdc-dialog-subhead-color: rgba(255, 255, 255, 0.87);
  --mdc-dialog-supporting-text-color: rgba(255, 255, 255, 0.6);
} */

/* datepicker css*/

::ng-deep.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #66615b;
}
::ng-deep.mat-mdc-icon-button {
  --mat-mdc-button-persistent-ripple-color: #000;
  --mat-mdc-button-ripple-color: rgba(0, 0, 0, 0.1);
  --mdc-icon-button-icon-color: #66615b;
  --mat-mdc-button-persistent-ripple-color: #fff;
  --mat-mdc-button-ripple-color: rgba(255, 255, 255, 0.1);
}
::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}
::ng-deep.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: #66615b;
}
::ng-deep.mat-mdc-form-field-infix {
  flex: auto;
  min-width: 0;
  line-height: 1.45 !important;
  position: relative;
  box-sizing: border-box;
  display: block;
}
::ng-deep.mat-mdc-form-field-input-control.mat-mdc-form-field-input-control {
  font: inherit;
  letter-spacing: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  border: none;
  font-size: 14px !important;
}

/* dropdown list css*/
::ng-deep.mat-mdc-select-value {
  color: #66615b;
  font-size: 14px !important;
}
::ng-deep.mat-mdc-select-arrow svg {
  fill: currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #66615b !important;
}
::ng-deep.mat-mdc-form-field {
  --mat-mdc-form-field-floating-label-scale: 0.75;
  display: inline-flex;
  flex-direction: column;
  min-width: 0;
  width: 100% !important;
  text-align: left;
}

/* ::ng-deep.mat-mdc-option.mdc-list-item {
  align-items: center;
  background-color: white !important;
}
::ng-deep.mdc-list-item__primary-text {
  color: #66615b !important;
}
::ng-deep.mat-mdc-select-panel-above .mdc-menu-surface.mat-mdc-select-panel {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transform-origin: bottom center;
  background-color: white !important;
}
::ng-deep.mat-mdc-option:hover:not(.mdc-list-item--disabled),
.mat-mdc-option:focus.mdc-list-item,
.mat-mdc-option.mat-mdc-option-active.mdc-list-item,
.mat-mdc-option.mdc-list-item--selected:not(.mat-mdc-option-multiple):not(
    .mdc-list-item--disabled
  ) {
  background: rgba(255, 255, 255, 0.08) !important;
} */
